.foll{
	background:#9C661F;
}
.head{
	background: purple;
	height: 130px;
}
.gh{
	font-size: 30px;
	text-align: center;
	color: red;
	padding-top: 50px;
}
.v{
	background-color: white;
}
.hhq{
	text-align: center;
	color: red;
}
.pag{
	text-align: center;
}
.ta{
	background:white;

}
.bodynav{
	background:#FDF5E6;
	
}
.bodymain{
	background:#009ACD;
	
}
